*
!data/
!data/report_tpcav_score.html.zip
!data/motif-clustering-v2.1beta_consensus_pwms.meme
!data/hg38_rmsk.sample.bed
!data/mcf7_ctcf_best.pt
!src/
!src/tpcav/
!src/tpcav/*.py
!rust/
!rust/Cargo.toml
!rust/src/
!rust/src/*.rs
!scripts/
!scripts/*.py
!examples/
!examples/*.ipynb
!test/
!test/*.py
!pyproject.toml
!LICENSE
!README.md
!.github/
!.github/workflows/
!.github/workflows/*.yml
